* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    height: 100vh;
    /* Ensures the body covers the entire viewport height */
    display: flex;
    justify-content: center;
    /* Centers the container horizontally */
    align-items: center;
    /* Centers the container vertically */
    background: linear-gradient(to bottom, #ada7a7, #f0f0f0);
}

.container {
    display: flex;
}

.left_container,
.right_container {
    /* flex: 1; Each container takes up equal space */
    border: 1px solid #665d5d;
    /* padding: 20px; */
    height: 35rem;
    /* overflow: auto; */
}

.left_container {
    width: 20rem;
    border-top: 2px solid #665d5d;
    border-left: 2px solid #665d5d;
    border-bottom: 2px solid #665d5d;
    border-radius: 5px 0 0 5px;
    /* overflow: auto; */
}

h2 {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}

.sender_container {
    height: 30rem;
    width: 18.5rem;
    /* border: 2px solid red; */
    margin-left: 1rem;
    margin-top: 1rem;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sender_container section {
    margin: 1rem 1rem 0.3rem 0rem;
    padding: 1rem;
    border-radius: 10px;
    /* border: 2px solid rgb(65, 59, 65); */
    cursor: pointer;
    font-size: 20px;
}

.sender_container section:hover {
    background-color: #ebd1d1;
    color: #a04343;
}

/* decorating scroll bar of left container */
.sender_container::-webkit-scrollbar {
    width: 4px;
    /* Width of the scrollbar */
    height: 8px;
}

/* Track (the area behind the scrollbar) */
.sender_container::-webkit-scrollbar-track {
    background: transparent;
    /* Background color of the track */
}

/* Handle (the draggable part of the scrollbar) */
.sender_container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    /* Color of the handle */
    height: 0.1px;
}

/* Handle (the draggable part of the scrollbar) */
.sender_container::-webkit-scrollbar-thumb:hover {
    background: #a04343;
    /* Color of the handle */
}







/* styling things of right container */

.right_container {
    width: 50rem;
    border-top: 2px solid #665d5d;
    border-right: 2px solid #665d5d;
    border-bottom: 2px solid #665d5d;
    border-top-right-radius: 5px;
}

.message_container {
    height: 25rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 1rem auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* styling icon */
#chat_icon {
    height: 40px;
    margin-left: 20px;
    transform: translateY(20%);

}

#chat_icon:hover {}

.message_container div {
    background-color: rgb(194, 192, 192);
    padding: 0.4rem 1rem;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.message_container div span {
    display: block;
    font-weight: bold;
}

.message_container .sender {
    background-color: rgb(89, 225, 89);
    align-self: flex-end;
    margin-right: 23px;
}


.input_msg {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.input_msg button {
    width: 8rem;
    background-color: #767699;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
}

.input_msg button:hover {
    background-color: #333342;
}

#chatMessage {
    font-size: 1.2rem;
    padding: 0.4rem 1.3rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 40rem;
    margin-left: 10px;

}

#chatMessage:hover {
    background-color: rgb(241, 241, 241);

}

#chatMessage,
sendMessageButton {
    padding: 0.5rem;
}

#sendMessageButton {
    margin-right: 10px;

}

/* decorating scroll bar of right container */
.message_container::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
    height: 0.1px;
}

/* Track (the area behind the scrollbar) */
.message_container::-webkit-scrollbar-track {
    background: transparent;
    /* Background color of the track */
}

/* Handle (the draggable part of the scrollbar) */
.message_container::-webkit-scrollbar-thumb {
    background: transparent;
    /* Color of the handle */
    height: 10px;
}

/* Handle (the draggable part of the scrollbar) */
.message_container::-webkit-scrollbar-thumb:hover {
    background: #a04343;
    border-radius: 15px;
    /* Color of the handle */
}