@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;

}

.outer-box {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top left, #a6cfda, #bfe0e4);
}

.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: #ffffffcc; */
    background: linear-gradient(to top left, #ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
}

.signup-header {
    text-align: center;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #555;
}

.signup-body {
    margin: 20px 0px;
}

.signup-body p {
    margin: 10px 0;

}

.signup-body p label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.signup-body p input {
    width: 100%;
    padding: 5px;
    border: 2px solid#cccc;
    border-radius: 4px;
    font-size: 1rem;
}

#submit-button,
#reset-button {
    opacity: 90%;
    cursor: pointer;
}

.signup-body p input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
}

.signup-body p input[type="submit"]:hover {
    background-color: #2773a5;
}

.signup-footer p {
    color: #555;
    text-align: center;
}

.signup-footer p a {
    color: #3498db;

}

